<header class="header">
  <div class="search-container">
    <input type="text" class="search-bar" placeholder="Tìm kiếm sách...">
    <button class="search-icon"><i class="fas fa-search"></i></button>
  </div>
  <div class="header-icons">
    <div class="user-dropdown-wrapper">
      <i class="fas fa-user-circle user-icon"></i>
      <div class="user-dropdown-content">
        <a href="/user">Thông tin tài khoản</a>
        <a href="/logout">Đăng xuất</a>
      </div>
    </div>
  </div>
</header>