<aside class="sidebar">
  <div class="logo">
    <img src="/images/Logo.png" alt="Logo N10-Ebook" />
  </div>
  <nav class="menu">
    <a href="/" class="sidebar-button"><i class="fas fa-home"></i><span>Trang chủ</span></a>
    <a href="/favorites" class="sidebar-button"><i class="fas fa-heart"></i><span>Mục yêu thích</span></a>

    <div class="dropdown-wrapper">
      <a href="#" class="sidebar-button"><i class="fas fa-list"></i><span>Thể loại</span></a>
      <div class="dropdown-content">
        <span class="tag">Truyện ngắn</span>
        <span class="tag">Lịch sử</span>
        <span class="tag">Thiếu nhi</span>
        <span class="tag">Khoa học</span>
        <span class="tag">Tâm lý</span>
      </div>
    </div>
  </nav>
  <a href="/contact" class="sidebar-button contact-button"><i class="fas fa-envelope"></i><span>Liên hệ chúng tôi</span></a>
</aside>