<aside class="sidebar">
  <div class="logo">
    <img src="/images/Logo.png" alt="Logo N10-Ebook" />
  </div>
  <nav class="menu">
    <a href="/" class="sidebar-button"><i class="fas fa-home"></i><span>Trang chủ</span></a>
    <a href="/favorites" class="sidebar-button"><i class="fas fa-heart"></i><span>Mục yêu thích</span></a>

    <div class="dropdown-wrapper">
  <div class="dropdown-toggle sidebar-button">
    <i class="fas fa-list"></i><span>Thể loại</span>
  </div>
  <div class="dropdown-content">
    <a class="tag" href="/search?category=Khoa học">Khoa học</a>
    <a class="tag" href="/search?category=Tâm lý học">Tâm lý học</a>
    <a class="tag" href="/search?category=Kinh doanh">Kinh doanh</a>
    <a class="tag" href="/search?category=Kỹ năng sống">Kỹ năng sống</a>
    <a class="tag" href="/search?category=Tiên Hiệp">Tiên Hiệp</a>
    <a class="tag" href="/search?category=Văn học">Văn học</a>
    <a class="tag" href="/search?category=Lịch sử">Lịch sử</a>
    <a class="tag" href="/search?category=Tiểu thuyết">Tiểu thuyết</a>
    <a class="tag" href="/search?category=Kinh tế">Kinh tế</a>
    <a class="tag" href="/search?category=Kinh dị">Kinh dị</a>
    <a class="tag" href="/search?category=Triết học">Triết học</a>
    <a class="tag" href="/search?category=Tâm lý">Tâm lý</a>
    <a class="tag" href="/search?category=Văn hóa - Xã hội">Văn hóa - Xã hội</a>
    <a class="tag" href="/search?category=Tình yêu - Hôn nhân">Tình yêu - Hôn nhân</a>
    <a class="tag" href="/search?category=Truyện ngắn">Truyện ngắn</a>
    <a class="tag" href="/search?category=Trinh thám">Trinh thám</a>
    <a class="tag" href="/search?category=Ngôn tình">Ngôn tình</a>
    <a class="tag" href="/search?category=Văn hóa - Lịch sử">Văn hóa - Lịch sử</a>
    <a class="tag" href="/search?category=Truyện dài">Truyện dài</a>
  </div>
  </div>
  </nav>
  <a href="/contact" class="sidebar-button contact-button"><i class="fas fa-envelope"></i><span>Liên hệ chúng tôi</span></a>
</aside>
<button class="toggle-sidebar" onclick="toggleSidebar()">
      <i class="fas fa-angle-left"></i>
</button>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".sidebar-button");

    buttons.forEach(button => {
      button.classList.remove("active");
      const href = button.getAttribute("href");

      // So sánh chính xác pathname
      if (href && window.location.pathname === href) {
        button.classList.add("active");
      }
    });
  });
</script>