<section>
  <button class="back-button" onclick="goBack()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <button class="fullscreen-btn" onclick="toggleFullscreen()">
    <i class="fa fa-expand" id="fullscreen-icon"></i>
  </button>

  <h1 class="chapter-title"><%= bookById[0].title %></h1>
  <div class="chapter-content">
    <iframe
      id="pdf-frame"
      src="<%= bookById[0].url.replace('dl=1', 'raw=1') %>"
      width="100%"
      height="800px"
      style="border: none;">
    </iframe>
  </div>
</section>

<script>
  function toggleSidebar() {
    const sidebar = document.querySelector('.sidebar');
    const toggleBtn = document.querySelector('.toggle-sidebar i');
    sidebar.classList.toggle('collapsed');
    toggleBtn.classList.toggle('fa-angle-right');
    toggleBtn.classList.toggle('fa-angle-left');
  }

  function goBack() {
    if (document.referrer) {
      window.history.back();
    } else {
      window.location.href = "/";
    }
  }

  function toggleFullscreen() {
    const fullscreenIcon = document.getElementById('fullscreen-icon');

    if (!document.fullscreenElement) {
      document.documentElement.requestFullscreen().then(() => {
        fullscreenIcon.classList.remove('fa-expand');
        fullscreenIcon.classList.add('fa-compress'); // Or 'fa-compress'
      });
    } else {
      document.exitFullscreen().then(() => {
        fullscreenIcon.classList.remove('fa-compress'); // Or 'fa-compress'
        fullscreenIcon.classList.add('fa-expand');
      });
    }
  }
</script>