<section>
  <button class="back-button" onclick="goBack()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <h2 class="content-title">Thông tin tài khoản</h2>

  <div class="information">
    <div class="info-container">
      <div class="user-icon">
        <i class="fa-solid fa-circle-user"></i>
      </div>
      <div class="user-details">
        <p><strong>Họ và tên:</strong> <%= user[0].fullname %></p>
        <p><strong>Email:</strong> <%= user[0].email %></p>
        <p><strong>Giới tính:</strong> <%= user[0].sex %></p>
        <p><strong>Địa chỉ:</strong> <%= user[0].address %></p>
        <p><strong>Vai trò:</strong>
          <% if (user[0].role === 'user') { %>
            Tài khoản cá nhân
          <% } else if (user[0].role === 'admin') { %>
            Quản trị viên
          <% } else { %>
            Không xác định
          <% } %>
        </p>
      </div>
    </div>
  </div>

  <div class="action-buttons">
    <button class="action-btn">Chỉnh sửa thông tin</button>
    <button onclick="window.location.href='/'" class="action-btn">Đăng xuất</button>
  </div>
</section>

<script>
  function toggleSidebar() {
    const sidebar = document.querySelector('.sidebar');
    const toggleBtn = document.querySelector('.toggle-sidebar i');
    sidebar.classList.toggle('collapsed');
    toggleBtn.classList.toggle('fa-angle-right');
    toggleBtn.classList.toggle('fa-angle-left');
  }

  function goBack() {
    if (document.referrer) {
      window.history.back();
    } else {
      window.location.href = "/";
    }
  }
</script>
